extends skeleton.pug

block content
    tr
      td(class='empty-column' style='height: 25px;' width='25')
      td
        table(
          cellspacing='0' cellpading='0'
          style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
        )
          tbody
            tr
              td(class='paragraph greeting' style='padding-top: 14px; padding-bottom: 60px; text-align:justify; line-height:25px;')
                |Segue em anexo o link com as informações para acompanhamento da carteira comercial de #{name},
                |nela estão distribuídos os dados atualizados em Excel para que consiga analisar,
                |personalizar e proporcionar um acompanhamento ainda mais assertivo.
                ul
                  li Este relatório é referente ao mês  #[b #{date}].
                  li O link tem #[b validade de 5 dias corridos] a partir do recebimento deste e-mail.
                  li Não esqueça de fazer o download no prazo e salvar o mesmo em um local seguro e confiável.
                  br
                  a(class='button' href=url) Clique aqui para baixar o relatório de carteira comercial

      td(class='empty-column' style='height: 25px;' width='25')
