doctype html
html
  head
  body
    table.body(
      cellspacing='0' cellpadding='0'
      style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; line-height: 18px; font-size: 14px; background-color: #f7f7f7; width: 100%;'
      width='100%' bgcolor='#f7f7f7')
      tbody
        tr
          td
            center.middle(style='width: 600px; text-align: center; margin: 0 auto;')
              table(
                cellspacing='0' cellpadding='0'
                align='center' width='600' class='full-width'
                style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px; width: 600px;'
              )
                tbody
                  tr
                    td(
                      class='content-body'
                      style='width: 600px; margin: 0 auto; color: #6e6f71; font-family: Arial,Geneva,sans-serif; text-align: left; display: block; word-break: break-word;'
                      width='600'
                      align='left'
                    )
                      table.header(
                        cellspacing='0' cellpadding='0' width='600'
                        style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
                      )
                        tbody
                          tr
                            td.name(style='padding: 20px 30px; font-size: 20px; font-weight: 400; line-height: 22px;')
                              div
                                img(
                                  src="https://gerencianet.com.br/wp-content/themes/Gerencianet/images/marca-gerencianet_b.png"
                                  style='max-width:200px; width: auto; height: auto;'
                                )

                      table(
                        cellspacing='0' cellpadding='0' width='600'
                        align='center' class='main-box custom-border'
                        style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px; width: 600px; background: #ffffff; border-top-style: solid; border-top-width: 4px;'
                      )
                        tbody
                          tr
                            td(class='empty-line' style='height: 25px;' height='25')
                            td
                            td(class='empty-line' style='height: 25px;' height='25')

                          tr
                            td(class='empty-column' style='height: 25px;' width='25')
                            td
                              table(
                                cellspacing='0' cellpading='0'
                                style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
                              )
                                tbody
                                  tr
                                    td(class='paragraph bold greeting' style='padding: 0 0 14px 0; font-weight: bold; font-size: 18px;') Olá, #{profile_name}.

                            td(class='empty-column' style='height: 25px;' width='25')

                          block content

                          tr
                            td(class='empty-column' style='height: 25px;' width='25')
                            td
                              table(
                                cellspacing='0' cellpading='0'
                                style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
                              )
                                tbody
                                  tr
                                    td(class='paragraph greeting') Atenciosamente,
                                  tr
                                    td(class='paragraph greeting' style='padding-bottom: 30px') Equipe de Operações.
                            td(class='empty-column' style='height: 25px;' width='25')

                      table.footer(
                        cellspacing='0' cellpadding='0' width='600'
                        style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; line-height: 18px; font-size: 12px;'
                      )
                        tbody
                          tr
                            td(class='paragraph' style='padding: 0 0 14px 0;')
                          tr
                            td(class='message' style='padding: 15px 20px;')
                              | Esta mensagem e seus anexos podem conter informação confidencial ou privilegiada. Caso não seja o
                              | destinatário, solicitamos a imediata notificação ao remetente e exclusão da mensagem.
                              | Dúvidas deverão ser encaminhadas para as informações de contato contidas neste e-mail.

                      table.footer(
                        cellspacing='0' cellpadding='0' width='600'
                        style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; line-height: 18px; font-size: 12px;'
                      )
                        tbody
                          tr
                            td(
                              width='300' style='text-align: right;'
                              align='right'
                            ) Emissão via

                            td(width='300' style='padding-left: 8px;')
                              img(
                                src="https://pe85007.s3-sa-east-1.amazonaws.com/cdn/images/d84692e6a2d1f93e433fd9fbf179031d_gn-logo-black-white.png"
                                style='border: none; display: block;'
                              )
                          tr
                            td(class='paragraph' style='padding: 0 0 14px 0;')
                          tr
                            td(colspan='2' class='paragraph border-bottom' style='padding: 0 0 14px 0; border-bottom: 1px solid #e7e7e7;')



